* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Raleway', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 16px;
}

.bold {
    font-weight: 600;
}

#logo .bold, h1, h2, h3, h4 {
    color: darkblue;
}

p {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: black;
}

/** header desktop **/

header .desktop, header .mobile {
    width: 100vw;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content:space-between;
}

.desktop #logo {
    font-size: 1.5rem;
}

.desktop #menu li, .desktop #logo a{
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
}

#logo img {
    vertical-align: middle;
}

.desktop #menu li {
    margin-left: 1rem;
}

.mobile, header .mobile {
    display: none;
}

@media only screen and (max-width:680px) {
.desktop {
    display: none;
}
.mobile {
    display: flex;
}
}

/** main section **/

#banner, #learning, .item_odd {
    background-color: lightgray;
}

#information, .item_even {
    background-color: whitesmoke;
}

#banner, #information, #learning {
    width: 100vw;
    padding: 2rem 1.5rem;
    display: flex;
    justify-content:space-between;
}

#banner .left, #information .left {
    width: 60%;
}

#banner .left img, #information .left img {
    width: 100%;
}

#banner .right, #information .right {
    width: calc(40% - 1.5rem);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#banner p, #information p {
    margin: 1.5rem 0;
}

#information .right p {
    margin: 0.5rem 0;
}

#banner .button {
    width: 90%;
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 0.5rem;
}

#information .left .txt {
    padding: 2rem 0 0 0;
}

.item_odd, .item_even {
    height: 33.33%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.item_odd img, .item_even img {
    width: 35%;
    height: auto;
}

.item_odd .txt, .item_even .txt {
    width: 65%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.item_odd a, .item_even a {
    font-style: italic;
}

#learning .container {
    max-width: calc(100vw - 9rem);
    margin: 0;
}