* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Raleway', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 16px;
    background-color: grey;
}
.content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto
}

.bold {
    font-weight: 600;
}

.upper {
    text-transform: uppercase;
}

#logo .bold, h1, h2, h3, h4 {
    color: darkblue;
}

p {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: black;
}

/** header desktop **/
header {
    width: 100%;
    height: 4rem;
    padding: 1rem 1.5rem;
    z-index: 99;
    background-color: white;
    position: fixed;
    top: 0;
}

header .desktop, header .mobile {    
    display: flex;
    justify-content:space-between;
}

.desktop #logo {
    font-size: 1.5rem;
}

.desktop #menu li, .desktop #logo a{
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
}

#logo img {
    vertical-align: middle;
}

.desktop #menu li {
    margin-left: 1rem;
}

.mobile, header .mobile {
    display: none;
}

/** main section **/
main, footer {
    position: relative;
    top: 4rem;
}

#banner, #learning, .item_odd {
    background-color: lightgray;
}

#information, .item_even, .item, #thesis, footer {
    background-color: whitesmoke;
}

#banner, #information, #learning, #thesis, #banner .left img, #information .left img, #learning img, #thesis video {
    width: 100%;
}
#banner .content, #information .content {
    padding: 2rem 1.5rem;
    display: flex;
    justify-content:space-between;
}

#banner .left, #information .left, #thesis .left {
    width: 60%;
}

#banner .right, #information .right, #thesis .right {
    width: calc(40% - 1.5rem);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

#banner p:first-of-type, #information p:first-of-type, #thesis p {
    margin: 1.5rem 0;
}

#information .right p, #learning .txt p:first-of-type, #thesis .right p {
    margin: 0.5rem 0;
}

#banner .button {
    width: 90%;
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 0.5rem;
}

#information .left .txt, #thesis .left .txt {
    padding: 2rem 0 0 0;
}

.item_odd, .item_even {
    height: 33.33%;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.item_odd img, .item_even img {
    width: 35%;
    height: auto;
}

.item_odd .txt, .item_even .txt {
    width: 65%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.item_odd a, .item_even a {
    font-style: italic;
}

#learning .content, #thesis .content {
    display: flex;
    padding: 2rem 1.5rem;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
}

#learning h2, #learning .container  {
    max-width: calc(100% - 9rem);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

#learning .item {
    width: calc(33.33% - 1.28rem);
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

#learning .item .txt {
    margin: 1rem 1rem 1.5rem 1rem;
}

#thesis h2, #thesis .container {
    max-width: calc(100% - 1.5rem);
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
}

#thesis h2 {
    margin-bottom: 2rem;
}

/** FOOTER **/

footer {
    width: 100%;
    height: 5rem;
    border-top: 1px solid gray;
}

footer .content {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
}

footer a {
    margin-left: 1rem;
}

@media only screen and (max-width:680px) {
#banner .content, #information .content, #thesis .content, #thesis .container  {
    padding: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#thesis {
    padding-top: 2rem;
}

#thesis h2 {
    margin-bottom: 1rem;
}

#banner .left, #thesis .left {
    width: 100%;
    padding-bottom: 2rem;
}
#banner .right {
    width: calc(100% - 2rem);
    padding-bottom: 2rem;
}
#banner .button {
    width: 100%;
}
.item_odd, .item_even, #information .right {
    width: 100%;
    background-color: whitesmoke;
    flex-direction: column;
}

.item_odd, .item_even {
    padding: 1rem 1rem 2rem 1rem; 
}

#information .right img, #information .right .txt {
    width: 100%;
}

#information .right .txt {
    margin-top: 2rem;
}

#learning .content {
    padding: 2rem 1rem;
    background-color: whitesmoke;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

#learning h2 {
    margin-bottom: 0.5rem;
}

#learning .container  {
    min-width: 100%;
    flex-direction: column;
}

#learning .container .item {
    width: 100%;
    background-color: lightgray;
    margin-top: 0.5rem;
}

footer {
    padding: 1rem;
    height: auto;
}

.desktop, header .desktop, #thesis .desktop {
    display: none;
}
.mobile, header .mobile {
    display: flex;
}
}
